@import "~bootstrap/scss/bootstrap";

.navbar {
  background-color: #F88906 !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.9em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

#home-jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

.page-item {
  padding-left: 5px;
  padding-right: 5px;
}

.page-item.active > span {
  color: #20AF6D !important;
  border-color: #20AF6D !important;
  background-color: whitesmoke !important;
}

.page-link{
  color: gray !important;
  border-color: gray !important;
  transition: transform .2s;
  background-color: lightgray !important;
}

.page-link:hover {
  color: gray !important;
  border-color: gray !important;
  background-color: whitesmoke !important;
  transform: scale(1.1);
}

.footer {
  background-color: #F88906;
}

#language-options-button {
  background-color: transparent;
  border-color: white;
  color: white;
}

#language-options-button:hover {
  background-color: #F7A341;
}

#language-options-button:focus {
  box-shadow: 0 1px 1px #F7A341 inset, 0 0 8px white;
}

.table-striped > tbody > tr:nth-of-type(odd){
  background-color: rgb(248 137 6 / 22%) !important;
}

.gap{
  display: none;
}

.submit{
  background-color: #F88906 !important;
  border-color: #F88906 !important;
}

.submit:hover{
  background-color: #F7A341 !important;
  border-color: #F7A341 !important;
}

.page-item.active > a.page-link{
  background-color: #D1B99E !important;
}

.form-control:focus,
.form-select:focus {
  border-color: #F7A341 !important;
  box-shadow: 0 1px 1px #F7A341 inset, 0 0 8px #F7A341;
}

.standard-button{
  background-color: #F88906 !important;
  border-color: #F88906 !important;
}

.standard-button:hover{
  background-color: #F7A341 !important;
  border-color: #F7A341 !important;
}

.standard-button:focus {
  border-color: #F7A341 !important;
  box-shadow: none !important;
}
